@import'./variables';

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;

}

p {
    line-height: 1.4rem;
}

.container {
    padding: 3rem 10rem;
    @media only screen and (max-width: 768px) {
        padding: 1rem;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* Reset */
* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* Basic style */
body {
    margin: 0;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.1rem;
    color: white;

    &__links {
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 768px) {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            width: 0;
            height: 100vh;
            position: absolute;
            top: 0px;
            right: 0;
            background: $Very-dark-blue;
            transform: translateX(100%);
            transition: all 0.5s ease-in-out;
        }
    }

    &__link {
        padding: 0 10px;

        &>a {
            color: $Very-dark-blue;
            text-decoration: none;

            &:hover {
                color: $Soft-red;
            }
        }
    }
}

.burger {
    display: none;
}

/*  Small device */
@media screen and (max-width: 768px) {
    .navbar__links {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background: $Off-white;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .show-nav .navbar__links {
        width: 65vw;
        transform: translateX(0);
    }

    .navbar__link {
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .show-nav .navbar__link {
        transform: translateX(0%);
    }

    .navbar__link>a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        color: $Dark-grayish-blue;
        transition: all 0.4s ease-in-out;
    }

    .navbar__link>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    /* Toggle menu */
    .burger {
        display: block;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: $Very-dark-blue;
        transition: all 0.5s ease-in-out;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: $Very-dark-blue;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }
}


.hero {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    .brand {
        img {
            width: 99%;
        }

        .describe {
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }

            .title {
                max-width: 200px;
                font-weight: 800;
                font-size: 18px;
            }

            .details {
                max-width: 350px;

                button {
                    background-color: $Soft-red;
                    color: $Off-white;
                    border: none;
                    padding: 12px 20px;
                    letter-spacing: 3px;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-block: 1rem;

                    &:hover {
                        background-color: $Very-dark-blue;
                    }
                }
            }
        }
    }

    .news {
        background-color: $Very-dark-blue;
        padding: 1rem;

        .new {
            position: relative;
            padding-block: 1rem;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                left: 0;
                top: 100%;
                background-color: $Off-white;


            }
        }

        h2 {
            color: $Soft-orange
        }

        h4 {
            color: $Off-white;

            &:hover {
                color: $Soft-orange;
            }
        }

        p {
            color: $Grayish-blue;
        }
    }
}

.footer {
    display: flex;
    margin-block: 3rem;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    .boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box-image img {
            width: 100px;
            margin-right: 20px;
        }

        .best-newsletter {

            .order {
                font-weight: 700;
                font-size: 1.4rem;
                color: $Grayish-blue;
            }

            .title {
                color: $Very-dark-blue;
                font-weight: 700;
                margin-block: 1rem;

                &:hover {
                    color: $Soft-red;
                    cursor: pointer;
                }
            }

            p {
                color: $Dark-grayish-blue;
                font-size: 12px;

            }

        }
    }
}